.md-typeset img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}

@media screen and (max-width: 60em) {
	.md-typeset img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.img-w100 {
	max-width: 100% !important;
	max-height: none !important;
}